body{overflow-x: hidden;}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

  #servicios .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  #servicios .card:hover{
    transform: scale(1.03); 
    transition-duration: .4s;
  }

  .blog-link:hover{
    text-decoration:solid;
  }

 /* testimonials */
  .wrapper {
      background-color: rgb(77, 77, 77);
      max-width: 1100px;
      margin: 100px auto;
      padding: 110px 120px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
 
  .wrapper .content {
      padding: 10px;
      cursor: pointer
  }
 
  .testimonial {
      padding: 20px 40px;
      position: relative
  }
 
  .fa-quote-left {
      position: absolute;
      top: -15px;
      left: -6px;
      font-size: 2rem;
      color: #fab41d
  }
 
  .fa-quote-right {
      position: absolute;
      bottom: -15px;
      right: -6px;
      font-size: 2rem;
      color: #fab41d
  }
 
  .employee {
      margin-bottom: 40px;
      padding-left: 30px
  }
 
  .h3 {
      margin: 0
  }
 
  .carousel-indicators {
      bottom: -100px
  }
 
  .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 50%
  }
 
  .text-jusitfy {
      font-weight: 700
  }
 
  .text-mute {
      color: #aaa
  }
 
  @media(max-width:767px) {
      .wrapper {
          padding: 80px 50px;
          margin: 50px 10px
      }
 
      .carousel-indicators {
          bottom: -80px
      }
  }
 
  @media(max-width: 420px) {
      .wrapper {
          padding: 40px 20px
      }
 
      .carousel-indicators {
          bottom: -45px
      }
 
      .employee {
          margin-bottom: 40px;
          padding-left: 15px
      }
  }


  /* Nosotros */
  .aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    /* font-size: 30px; */
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover, a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}
.aboutus-more {
    border: 1px solid #fdb801;
    border-radius: 25px;
    color: #fdb801;
    display: inline-block;
    /* font-size: 14px; */
    /* font-weight: 700; */
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 9%;
}
.feature .feature-box .iconset::after {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}
.icon {
    color : #f4b841;
    padding:0px;
    font-size:40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}

/* Button Up */
#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 60px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(17, 16, 16, 0.816);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}